body{text-align: center; font-size: 20px;
     font-style:italic; padding: 5px; background-color: lightslategrey;
}
P{color:gray;
}
li{color: darkgray;
}
img{size-adjust: 50px
}
A {color: blueviolet;
}

