body{text-align: center; font-size: 200px;
     font-style:italic; padding: 50px; background-color: lightslategrey;
}
P{color:gray;
}
li{color: darkgray;
}
img{size-adjust: 500px
}
A {color: blueviolet;
}

